/*************************************
  Custom CSS
*************************************/
.contactleft {
    float: left;
    width: 25%;
}

.contactright {
    float: left;
    padding-left: 10em;
    width: 25%;
}

section:after {
    content: "";
    display: table;
    clear: both;
}
